<!DOCTYPE html>
<html>
<head>
  <meta charset= "UTF-8">
  <title>Web Mail</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="Webmail" ng-controller="WebmailCtrl">
  <div class="container">
    <ul class="nav nav-pills spacer">
      <li ng-repeat= "dossier in dossiers" ng-class="{ active: dossier == dossierCourant}">
        <a href="#{{dossier.value}}">{{dossier.label}}</a></li>
    </ul>
    <div ng-show="dossierCourant != null &amp;&amp; emailSelectionner == null">
      <table class="table table-striped table-hover spacer">
        <thead>
          <tr>
            <th>
              <a ng-click="triEmails('from')">De</a>
              <span class ="hSpacer" ng-class= "cssChevronTri('from')"></span>
            </th>
            <th>
              <a ng-click="triEmails('to')">&Agrave;</a>
              <span class ="hSpacer" ng-class= "cssChevronTri('to')"></span>
            </th>
            <th>
              <a ng-click="triEmails('subject')">Objet</a>
              <span class ="hSpacer" ng-class= "cssChevronTri('subject')"></span>
            </th>
            <th>
              <a ng-click="triEmails('date')">Date</a>
              <span class ="hSpacer" ng-class= "cssChevronTri('date')"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="email in dossierCourant.emails | orderBy: champTri:triDescendant" class="clickable" ng-click="versEmail(dossierCourant, email)">
            <td>{{email.from}}</td>
            <td>{{email.to}}</td>
            <td>{{email.subject}}</td>
            <td>{{email.date | date: 'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
      <p class="alert alert-info">Le dossier contient {{dossierCourant.emails.length}} mails</p>
    </div>
    <div class="well spacer" ng-show="emailSelectionner != null">
      <h1>{{emailSelectionner.subject}}</h1>
      <p><label>De:</label><span>{{emailSelectionner.from}}</span></p>
      <p><label>&Agrave;</label><span>{{emailSelectionner.to}}</span></p>
      <p><label>Date:</label><span>{{emailSelectionner.date}}</span></p>
      <p ng-bind-html="emailSelectionner.content"></p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="angular-locale_fr-fr.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>