a {
  cursor: pointer;
}

.spacer {
  margin-top: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428bca;
  color: #ffffff;
}

.hSpacer {
  margin-left: 20px;
}

.clickable {
  cursor: pointer;
}

.surbrillanceRecherche {
  background-color: #ffd42a;
}
